body{
    background: white url("http://wallpaper.statusfacebook.com/dp/images/8/IMG_710710.jpeg");
}

.navbar-default .navbar-brand{
    font-family: 'Lobster', cursive;
    font-size: 30px;
    color: red;
}

.heading{
    font-size: 50px;
    font-family: 'Lobster', cursive;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: beige;
}

header{
    color: darkblue;
}

h2{
    color: red;
}


#LM_Categories{
    display: table;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.Cat_choice{
    border-radius: 15px;
    margin: 45px;
    font-size: 35px;
    font-family: 'Raleway', cursive;
    background-color: white;

}

#blue_choice{
    color: darkblue;
    border: 8px solid navy;
}

#red_choice{
    border: 8px solid red;
    color: red;
}

.btn.special {
    background-color: white;
    color: black;
    background-position: 0;
    transition: none;
}