body{
    background: white url("http://wallpaper.statusfacebook.com/dp/images/8/IMG_710710.jpeg");
}

.navbar-default .navbar-brand{
    font-family: 'Lobster', cursive;
    font-size: 30px;
    color: red;
}

header{
    font-size: 75px;
    font-family: 'Lobster', cursive;
    color: navy;
    padding-top: 100px;
    text-shadow: 0 4px white;
}


#A{
    display: table;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 3%;

}