body{
    background: white url("http://wallpaper.statusfacebook.com/dp/images/8/IMG_710710.jpeg");
}

.navbar-default .navbar-brand{
    font-family: 'Lobster', cursive;
    font-size: 30px;
    color: red;
}

header{
    font-size: 75px;
    font-family: 'Lobster', cursive;
    color: white;
    padding-top: 100px;
    text-shadow: 0 4px black;
}

h3{
    font-size: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: white;
    color: navy;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
    background-color: beige;
}

form{
    font-family: 'Raleway', cursive;
    display: table;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 3%;
    padding-top: 15px;
}
