<!DOCTYPE html>
<html lang="en">

{%  extends 'LingoLearn/base.html' %}

{% block body %}
    {% load staticfiles %}

    <!--uses same styling as CategoriesPage-->

        <link rel="stylesheet" type="text/css" href="{% static 'LingoLearn/CategoriesPage.css' %}" />
<head>
    <meta charset="UTF-8">
    <title>"Learning Mode"</title>
</head>

<body>
    <div id="LM_Categories">
    <style>
    </style>
        <h2 class="heading">  -  Pick your Category Challenge  - </h2>


            <!--Displays all categories available to choose from for Learning and playing game modes -->


        {% for category in categories %}
            <a class="btn btn.special Cat_choice" id="red_choice" href="/LingoLearn/CategoryChoice/{{ category.id }}/GamePlay">{{ category.category_english }}<br><br>
                <img src="{{ category.category_image }}" width="200px" height="200px"/>
            </a>
        {% endfor %}
    </div>

</body>
{% endblock %}

</html>
