<!DOCTYPE html>
<html lang="en">

{%  extends 'LingoLearn/base.html' %}
<!-- loads path to static files-->

{% block body %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'LingoLearn/ProfilePage.css' %}" />

    <head>
        <meta charset="UTF-8">
        <title>"Welcome {{ user.username }}"</title>
    </head>


       <!-- Shows personalised welcome page with own name and badges.
       Other categoreis in Nav bar also available to use and explore-->


    <body>
    <div id="A">
        <header>Welcome to LingoLearn, {{ user.username }}!</header>
        <h1>Here are your current badges : </h1>

         {% for badge in badges %}
             <div id="badgediv">
                 <img id="badges" src="{{ badge.badge_image }}" width="200px" height="170px"/>
             </div>


             {% endfor %}

    </div>
    <img src="http://images.cpcache.com/image/24315092.png" class="img-responsive" width="550px">
    </body>

    </html>

{% endblock %}

