<!DOCTYPE html>
<html lang="en">

{%  extends 'LingoLearn/base.html' %}
<!-- loads path to static files-->

{% block body %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'LingoLearn/ProfilePage.css' %}" />

    <head>
        <meta charset="UTF-8">
        <title>"Welcome {{ user.username }}"</title>
    </head>

    <body>
    <div id="A">
        <header>Welcome to your LingoLearn Page, {{ user.username }}!</header>
    </div>
    <img src="http://images.cpcache.com/image/24315092.png" class="img-responsive" width="550px">
    </body>

    </html>

{% endblock %}

